{% extends 'shopkeeper/base/base.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
    <style>
       
    </style>

{% endblock %}

{% block content %}

<div class="container mt-5">
    
        <div class="row">
            <a href="{% url 'shopkeeper:employee_list' %}" class="col-sm div_box employee_div d-flex justify-content-center mr-3" id="a_tag">
          <div >
            <h3>
                Emnployee
            </h3> 
            <h2 class="ml-5">{{employees}}</h2>
          </div>
        </a>
          <a href="{% url 'shopkeeper:dukandar_list' %}" class="col-sm div_box dukandar_div  d-flex justify-content-center mr-3"  id="a_tag">
          <div >
            <h3>
                Dukandar's
            </h3>
            <h2 class="ml-5">{{dukandars}}</h2>
          </div>
        </a>
          <a href="{% url 'shopkeeper:customer_list' %}" class="col-sm div_box customer_div d-flex justify-content-center mr-3"  id="a_tag" >
          <div >
            <h3>
              Customers
            </h3>
            <h2 class="ml-5">{{customers}}</h2>
          </div>
        </a>
        </div>
        
        <div class="row mt-5 ">
          <a href="{% url 'shopkeeper:product_ist' %}" class="col-sm div_box product_div d-flex justify-content-center mr-3" id="a_tag">
            <div>
                <h3>
                    Products 
                </h3>
                <h2 class="ml-5">{{products}}</h2>
              </div>
          </a>
          <a href="{% url 'shopkeeper:orders_list' %}" class="col-sm div_box orders d-flex justify-content-center mr-3" id="a_tag">
            <div >
                <h3>
                  Order's
                </h3>
                <h2 class="ml-5">{{orders}}</h2>
              </div>
            </a>
          <a href="{% url 'shopkeeper:orders_list' %}" class="col-sm div_box Budget d-flex justify-content-center mr-3" id="a_tag">
            <div >
              <h3>
                Total Sale
              </h3>
              <h2 class="ml-5">{{orders}}</h2>
            </div>
        </a>
          </div>
         
          <div>
            <h3>Google Map</h3>
            {{map | safe}}
          </div>
          
        

</div>

{% endblock %}