{% extends 'shopkeeper/base/base.html' %}
{% load static %}
{% block stylesheet %}
    <style>

    </style>

{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5 font-weight-bold">Parent Categoies List</h1>

        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}


        <div class="row">

            <div class="col-12">
                <a type="submit" href="{% url 'shopkeeper:parent_category_setup' %}"
                   class="btn btn-primary float-right mb-1" name="employee">Add
                    Parent Category</a>
                <table class="table" id="table_id">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">description</th>
                        <th scope="col">Meta_keywords</th>
                        <th scope="col">Meta_description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Category_for</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ object_list }}
                    {% for parent in parent_list %}
                        {{ object_list }}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ parent.name }}</td>
                            <td>{{ parent.description }}</td>
                            <td>{{ parent.meta_keywords }}</td>
                            <td>{{ parent.meta_description }}</td>
                            <td>{% if parent.image %}
                                <img src="{{ parent.image.url }}" alt="{{ parent.name }}" width="50">

                            {% else %}
                                {{ parent.image }}
                            {% endif %}

                            </td>
                            <td>{{ parent.category_for }}</td>
                            <td>{{ parent.is_active }}</td>
                            <td>

                                <a href="{% url 'shopkeeper:parent_category_update' parent.id %}" class="mr-3"
                                   data-toggle="tooltip" title="Hooray!"> <i class="fas fa-trash-alt"
                                                                             style="color:red;"></i></a>
                                <a href="{% url 'shopkeeper:parent_category_update'  parent.id %}"> <i
                                        class="fas fa-edit" style="color:blue;"></i></a>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>


            </div>

        </div>

    </div>


    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();

            $('ul').find("li#parent_cat").addClass("active");
            $('ul').find("li#parent_cat").addClass("active");
            $('ul').find("li#parent_cat").addClass("active");
            $('ul').find("li#parent_cat").find("a").addClass("collapsed");
            $('ul').find("li#parent_cat").find("a").attr("aria-expanded", "true");
            $('ul#ui_parent').addClass('show')
            $('#parent_list').addClass('active')

        });
    </script>

{% endblock %}


