
{% extends 'shopkeeper/base/base.html' %}
{% load static %}
{% block stylesheet %}
    <style>

    </style>

{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center mt-5 mb-5 font-weight-bold">
    Parent Catgory Setup</h1>
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


    <div class="row col-2 offset-10">
        <a type="submit" href="{% url 'shopkeeper:parent_category_list' %}" class="btn btn-primary float-right mb-1" name="employee">Parent Category Lists</a>

    </div>
    <form id="employeeForm" method="post" class="" name="employeeForm" enctype="multipart/form-data"
                  action="{% url 'shopkeeper:parent_category_setup' %}">
    {% csrf_token %}
    <div class="row">

      <div class="col-4">
        <div class="form-group ">
            <label for="exampleInputParent">Parent Category Name</label>
            <input type="hidden" name="paren_id" value="{{ paren_id }}">
            <input type="text" class="form-control" id="name" aria-describedby="Pcat" name="name"
                   value="{{ name }}"
                   >
          </div>
          <div class="form-group mt-1">
            <label for="exampleInputDescription">Description</label>
            <input type="text" class="form-control" id="cate" aria-describedby="description"
                               name="description" value="{{ description }}"
                               >

          </div>
          <div class="form-group mt-1">
            <label for="exampleInputmeta_keywords">meta_keywords</label>
            <input type="text" class="form-control" id="lname" aria-describedby="meta_keywords"
            name="meta_keywords" value="{{ meta_keywords }}"
           >
          </div>
          <div class="form-group mt-1">
            <label for="exampleInputPassword1">meta_description</label>
            <input type="text" class="form-control" id="meta_description"
            aria-describedby="meta_description" value="{{ meta_description }}"
            name="meta_description">
          </div>


      </div>
      <div class="col-4">

        <div class="form-group mt-1">
            <label for="exampleInputFirst_Name">Category for</label>
            <select class="form-select" aria-label="Default select example" name="category_for">
                {% if category_for %}
                    <option value="{{ category_for }}">{{ category_for }}</option>

                {% else %}
                    <option selected>Open this select menu</option>
                    <option  value="BRAND">For Brand</option>
                    <option value="RETAIL">For Retail</option>
                    <option value="WSALE">For Whole Sale</option>
                    <option value="CULTURE">For Culture</option>
                    <option value="AUTO">For Auto</option>
                {% endif %}

            </select>

          </div>
            <div class="form-group mt-1">
              <label for="exampleInputlast_name">Products Image</label>
                  <input type="file" onchange="preview()" name="image" value="{{ image }}">
                       {% if image %}
                            <img id="frame" src="{{ image.url }}" name="image" width="200px" height="200px"/>
                        {% else %}
                            <img id="frame" src="" name="image" width="200px" height="200px"/>
                        {% endif %}
            </div>



      </div>
      <div class="col-4">
          <div class="form-check mt-4">
            <input type="checkbox" class="form-check-input checkbox" id="is_active"
            name="is_active" {% if is_active %} checked
            value="True"   {% endif %} value="False">
            <label class="form-check-label" for="exampleCheck1" name="is_active">Is Active Parent Category</label>
          </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary float-right mt-1">Submit</button>
</form>
  </div>

    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
         $(".checkbox").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'True');

                } else {
                    $(this).attr('value', 'False');

                }
            });

            $('ul').find("li#parent_cat").addClass("active");
              $('ul').find("li#parent_cat").addClass("active");
            $('ul').find("li#parent_cat").addClass("active");
            $('ul').find("li#parent_cat").addClass("active");
            $('ul').find("li#parent_cat").find("a").addClass("collapsed");
            $('ul').find("li#parent_cat").find("a").attr("aria-expanded", "true");
            $('ul#ui_parent').addClass('show')
            $('#parent_setup').addClass('active')

    </script>
{% endblock %}