{% extends 'shopkeeper/base/base.html' %}
{% load static %}
{% block stylesheet %}
    <style>

    </style>

{% endblock %}

{% block content %}
<div class="container">
        <h1 class="text-center mt-5 mb-5 font-weight-bold">Dukandar's List</h1>
     
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
      
     
        <div class="row">
            
          <div class="col-12">
            <a type="submit" href="{% url 'shopkeeper:dukandar_setup' %}" class="btn btn-primary float-right mb-1" name="employee">Add
             ShopKeeper</a>
            <table class="table" id="dukandarTable">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
              
                    <th scope="col">Phone#</th>
                    <th scope="col">Shop Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Added by Employee</th>
                    <th scope="col">Order's</th>
                    <th scope="col">Wallet</th>
                    <th scope="col">Spins</th>
                    <th scope="col">Gifts</th>
                    <th scope="col">Actions</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for dukandar in dukandars_list%}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{dukandar.user.email}}</td>
                   
                    <td>{{dukandar.user.first_name}}</td>
                    <td>{{dukandar.user.last_name}}</td>
                   
                    <td>{{dukandar.user.phone_no}}</td>
                    <td>{{dukandar.shop_name}}</td>
                    <td>{{dukandar.user.address}}</td>
                    <td>{{dukandar.user.city}}</td>
                    <td>{{dukandar.emp_id.user.first_name}} {{dukandar.emp_id.user.last_name}}</td>

                    <td> {% for ord in order_list %}
                         {% if ord.shopkeeper.user.id == dukandar.user.id%}
                      <a href="{% url 'shopkeeper:order_details' ord.id %}" data-toggle="tooltip" title="View Order Detail!"> {{ord.id}}</a>
                      {% endif %}
                    {% endfor %}</td>
                    <td>
                      {% for wal in walet_list %}
                      {% if wal.shopkeeper.user.id == dukandar.user.id%}
                       {{wal.amount}}
                       {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {% for spin in spines_list %}
                      {% if spin.shopkeeper.user.id == dukandar.user.id%}
                      {{spin.spine_no}}
                      {% endif %}
                     {% endfor %}
                    </td>
                    <td>
                      {% for spin in winSpin_list %}
                      {% if spin.shopkeeper.user.id == dukandar.user.id%}
                      <a href="{% url 'shopkeeper:gift_List'  %}" data-toggle="tooltip" title="View Order Detail!">  {{spin.giftspins.name}}</a>
                     
                      {% endif %}
                     {% endfor %}
                    </td>
                    <td>

                        <a href="{% url 'shopkeeper:dukandar_delete' dukandar.id %}" class="mr-3" > <i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete Record"  style="color:red;"></i></a>
                        <a href="{% url 'shopkeeper:dukandar_update'  dukandar.id %}">  <i class="fas fa-edit"  data-toggle="tooltip" title="Edit Record" style="color:blue;"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
              
        
          </div>
      
        </div>
       
      </div>
    
      <script>
        $(document).ready(function () {
            $('ul').find("li#dukandar_page").addClass("active");
            $('ul').find("li#dukandar_page").addClass("active");
            $('ul').find("li#dukandar_page").find("a").addClass("collapsed");
            $('ul').find("li#dukandar_page").find("a").attr("aria-expanded","true");
            $('ul#dukandar_control').addClass('show')
            $('#du_list').addClass('active')
            $('#dukandarTable').DataTable();
        });
    </script>
{% endblock %}