{% extends 'shopkeeper/base/base.html' %}
{% load static %}
{% block stylesheet %}
    <style>

    </style>

{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center mt-3 mb-5 font-weight-bold">
    Dukandar Setup</h1>
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %} role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


    <div class="row col-2 offset-10">
        <a type="submit" href="{% url 'shopkeeper:dukandar_list' %}" class="btn btn-primary float-right mb-1" name="product_list">Dukandar Lists</a>
     
    </div>
    <form id="subCateForm" method="post" class="" name="subCateForm" enctype="multipart/form-data"
    action="{% url 'shopkeeper:dukandar_setup' %}">
    {% csrf_token %}
    <div class="row">
    
      <div class="col-6">
        <input type="hidden" name="dukandar_id" value="{{ dukandar_id }}">
        <div class="form-group">
            
            <label for="employeeFname">User Name</label>
            <input type="text" class="form-control" id="username" aria-describedby="username" name="username"
                  value="{{user.username}}">
        </div>

        <div class="form-group">
            <label for="employeeFname">First Name</label>
            <input type="text" class="form-control" id="first_name" aria-describedby="first_name" name="first_name"
            value="{{user.first_name}}" >
        </div>
        <div class="form-group">
            <label for="employeeFname">Last Name</label>
            <input type="text" class="form-control" id="last_name" aria-describedby="last_name" name="last_name"
            value="{{user.last_name}}">
        </div>
        <div class="form-group">
            <label for="employeeFname">Email</label>
            <input type="text" class="form-control" id="username" aria-describedby="email" name="email"
                  value="{{user.email}}">
        </div>
        <div class="form-group">
            <label for="employeeFname">Phone#</label>
            <input type="text" class="form-control" id="phone_no" aria-describedby="phone_no" name="phone_no"
                  value="{{phone_no}}">
        </div>
       
       
       
         
      </div>
      <div class="col-6">
        <div class="form-group">
            <label for="employeeFname"> Register By Employee</label>
            <input type="text" class="form-control" id="emp_id" aria-describedby="emp_id" name="emp_id"
                   value="{{emp_id.user.first_name}} {{emp_id.user.last_name}}" readonly>
        </div>
        <div class="form-group">
            <label for="employeeFname">Shop Name</label>
            <input type="text" class="form-control" id="shop_name" aria-describedby="shop_name" name="shop_name"
                   value="{{shop_name}}">
        </div>
        <div class="form-group">
            <label for="employeeFname">Address</label>
            <input type="text" class="form-control" id="phone_no" aria-describedby="address" name="address"
                  value="{{user.address}}">
        </div>

          <div class="form-group mt-1">
            <label for="exampleInputDescription">Description</label>
            <input type="text" class="form-control" id="cate" aria-describedby="description"
                               name="description" value="{{ description }}"
                               >
          </div>
          
            <div class="form-check mt-5">
                <input type="checkbox" class="form-check-input checkbox" id="is_active"
                name="is_active" {% if is_active %} checked
                value="True"   {% endif %} value="False">
                <label class="form-check-label" for="exampleCheck1" name="is_active">Is Active Dukandar</label>
              </div>

           
      </div>

    </div>
    <button type="submit" class="btn btn-primary float-right mt-1">Submit</button>
</form>
  </div>


        <script>
        $(document).ready(function () {
            $('ul').find("li#product_tabs").addClass("active");
            setTimeout(function() {
              $('div.alert').fadeOut('slow');
          }, 5000);
          
        });
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
         $(".checkbox").on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).attr('value', 'True');

                } else {
                    $(this).attr('value', 'False');

                }
            });
    </script>
    {% include 'shopkeeper/product/ajax.html' %}
{% endblock %}