{% extends 'shopkeeper/base/base.html' %}
{% load static %}
{% block stylesheet %}
    <style>

    </style>

{% endblock %}

{% block content %}
<h1>Wallets List</h1>



      <script>
        $(document).ready(function () {
            $('ul').find("li#dukandar_page").addClass("active");
            $('ul').find("li#dukandar_page").addClass("active");
            $('ul').find("li#dukandar_page").addClass("active");
            $('ul').find("li#dukandar_page").addClass("active");
            $('ul').find("li#dukandar_page").find("a").addClass("collapsed");
            $('ul').find("li#dukandar_page").find("a").attr("aria-expanded","true");
            $('ul#dukandar_control').addClass('show')
            $('#du_wallet').addClass('active')

        });
    </script>
{% endblock %}