{% extends 'shopkeeper/base/base.html' %}
{% load static %}

{% block stylesheet %}
    <style>
        .cashImg {
            width: 60%;
        }


    </style>

{% endblock %}
{% load static %}

{% block content %}




    <div class="container mt-5">
        {#        <div class="modal-header">#}
        {##}
        {#            <h5 class="modal-title">Create Employee Setup</h5>#}
        {#        </div>#}

        <div class="row justify-content-center">
            <h2 class="justify-content-center text-center">Customer Detail</h2>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                    {{ message }}
                </div>
                {#                {% if message.tags == 'error' %}#}
                {#                      <div class="alert alert-danger" role="alert">#}
                {#                      {{ message }}#}
                {#                    </div>#}
                {#                {% endif %}#}



            {% endfor %}
        {% endif %}


     <form id="subCateForm" method="post" class="" name="subCateForm" enctype="multipart/form-data"
    action="{% url 'shopkeeper:customer_setup' %}">
    {% csrf_token %}
    <div class="row">

      <div class="col-6">
        <input type="hidden" name="id" value="{{ id }}">
         <div class="form-group">
            <label for="employeeFname">Email</label>
            <input type="text" class="form-control" id="username" aria-describedby="email" name="email"
                  value="{{user.email}}">
        </div>

        <div class="form-group">
            <label for="employeeFname">First Name</label>
            <input type="text" class="form-control" id="first_name" aria-describedby="first_name" name="first_name"
            value="{{user.first_name}}" >
        </div>
        <div class="form-group">
            <label for="employeeFname">Last Name</label>
            <input type="text" class="form-control" id="last_name" aria-describedby="last_name" name="last_name"
            value="{{user.last_name}}">
        </div>

        <div class="form-group">
            <label for="employeeFname">Phone#</label>
            <input type="text" class="form-control" id="phone_no" aria-describedby="phone_no" name="phone_no"
                  value="{{user.phone_no}}">
        </div>




      </div>
      <div class="col-6">

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="phone_no" aria-describedby="city" name="city"
                  value="{{user.city}}">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="phone_no" aria-describedby="address" name="address"
                  value="{{user.address}}">
        </div>



            <div class="form-check mt-5">
                <input type="checkbox" class="form-check-input checkbox" id="is_active"
                name="is_active" {% if is_active %} checked
                value="True"   {% endif %} value="False">
                <label class="form-check-label" for="exampleCheck1" name="is_active">Is Active Dukandar</label>
              </div>


      </div>

    </div>
    <button type="submit" class="btn btn-primary float-right mt-1">Update Record</button>
</form>

    </div>



    <script>
        $(document).ready(function () {

            $('ul').find("li#customer_page").addClass("active");
            $('ul').find("li#customer_page").addClass("active");
            $('ul').find("li#customer_page").addClass("active");
            $('ul').find("li#customer_page").find("a").addClass("collapsed");
            $('ul').find("li#customer_page").find("a").attr("aria-expanded", "true");
            $('ul#customer_control').addClass('show')
            $('#cust_setup').addClass('active')

        });
    </script>
{% endblock %}